/** The overlay-container is an invisible element which contains all individual overlays. */
.md-overlay-container {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

/** A single overlay pane. */
.md-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000; }
