<section [ngSwitch]="view">

  <div *ngSwitchCase="'card'">
    <sfeir-card *ngFor="let person of people" [person]="person" (onPersonDelete)="delete($event)"></sfeir-card>
  </div>


  <div *ngSwitchCase="'list'">
    <md-list>
      <md-list-item (click)="navigate(person)" *ngFor="let person of people" class="md-whiteframe-2dp md-card">
        <img md-list-avatar src="{{ person.photo }}">
        <h3 md-line> {{person.firstname}} {{person.lastname}}
          <span sfeir-badge [person]="person"></span>
        </h3>
        <p md-line>
          <span> {{person.entity}} </span>
          — <span>{{person.email}} </span>
        </p>
      </md-list-item>
    </md-list>
  </div>

</section>

<section class="dialog-modal" [ngClass]="{ 'active': dialogStatus == 'active' }">
  <sfeir-form (onPersonAdd)="add($event)" (onCancel)="hideDialog()"></sfeir-form>
</section>

<section class="buttons-fab" *ngIf="dialogStatus == 'inactive'">
  <button (click)="showDialog()" md-fab color="accent" class="button-add">
    <i class="material-icons">add</i>
  </button>

  <button (click)="switchView()" md-fab color="warn">
    <i class="material-icons" *ngIf="view === 'card'" >list</i>
    <i class="material-icons" *ngIf="view === 'list'" >view_stream</i>
  </button>
</section>
